/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.content p {
	&.galena-destacado__content {
    max-width: 300px;
    /* margin-left: calc(-120rem / 16); */
	margin-bottom: 60px;
	font-weight: 600;
	font-size: calc(28rem / 16);

		@include small {
			max-width: 800px;
			/* margin-left: calc(-120rem / 16); */
			margin-bottom: 120px;
			font-size:calc(38rem / 16);
		}

		@include medium {
			margin-left: 1rem;
		}

		@include large {
			margin-left: calc(-120rem / 16);
		}
	}
}

// @media (min-width: 30rem) {

//     .content p.galena-destacado__content {
//         max-width: 800px;
//         /* margin-left: calc(-120rem / 16); */
// 		margin-bottom: 120px;
// 		font-size:calc(38rem / 16);
// 		font-weight: 600;
//     }
// }

// @media (min-width: 48em) {
//     .content p.galena-destacado__content {
//         margin-left: 1rem;
//     }
// }

// @media (min-width: 64em) {
//     .content p.galena-destacado__content {
//         margin-left: calc(-120rem / 16);
//     }

// }

p + p.galena-destacado__content {
    padding-top: calc(30rem / 16);
}