h2.galena-subtitle__content {
	// max-width: 300px;
	// margin-left: initial;
	align-self: center;
	margin-bottom: 60px;
	font-weight: 400;
	font-size: calc(28rem / 16);

	&::after {
		content: none;
	}

	@include small {
		max-width: 800px;
		margin-bottom: 120px;
		font-size:calc(38rem / 16);
	}

	@include medium {
		margin-left: 1rem;
	}

	@include large {
		margin-left: calc(-120rem / 16);
	}
}


// p + p.galena-destacado__content {
//     padding-top: calc(30rem / 16);
// }