.galena-imagen {
    max-width: 640px;
    /* margin-left: -30px; */
	margin-bottom: 60px;

	& .galena-imagen__img {
		overflow: hidden;
		// padding-top: calc(1% / 1.5 * 100);
		// height: 0;
	}

	@include large {
		margin-left: -30px;
	}

	p + & {
		padding-top: calc(30rem / 16);
	}
}

