.gutenberg {

	.editor-container__card {
		font-family: $font;
		border: 1px solid $green;
		padding: 1rem;
		margin:0 -8rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		& > * {
			padding: .5rem;
		}

		// & .editor__button-container,
		// & .editor__content-image {
		// 	grid-column: 2 / 3;
		// 	grid-row: 1/ 3;
		// }

		// & .editor__title-text {
		// 	grid-column: 1 / 2;
		// 	grid-row: 1 / 2;
		// }

		// & .editor__body-text {
		// 	grid-column: 1 / 2;
		// 	grid-row: 2 / 3;
		// }
	}

}