.galena-card {

	display: flex;
	flex-direction: column;

	margin: calc(60rem / 16) 0 calc(120rem / 16);

	& > * {
		margin: 1rem 0;
		padding: 0 1rem;
		align-self: center;
		justify-self: start;
	}

	.clinica-galena &:last-of-type::after {
		content: "";
		position: absolute;
		height: 22vh;
		width: 30vw;
		transform-origin: bottom left;
		background-color: $translucent-green;
		right: 0;
		z-index: -1;
		transform: translate(0, 200%);
	}

	.galena-vip &:last-of-type::after {
		content: "";
		position: absolute;
		height: 25vh;
		width: 35vw;
		transform-origin: bottom left;
		background-color: rgba(110, 110, 118, .1);
		left: 10vw;
		z-index: -1;
		transform: translate(0, 200%);
	}

	& .galena-card__body-container {

	}

	@include medium {

		& > * {
			justify-self: center;
		}

		& .galena-card__body-container p {
			// margin: 0;
		}

	}

	@include large {

		& .galena-card__wrapper {
			position: relative;
			right: calc(-100% / 12);
		}

		& .galena-card__body-container {

			& p {
				font-size: calc(28rem / 16);
			}
		}

	}

}