.galena-grid {

	display: grid;
	grid-template-columns: 1fr;

	@include large {

		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 74px repeat(2, auto) 20px;

		& .galena-grid__title {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}

		& .galena-grid__image {
			grid-column: 2 / 3;
			grid-row: 3 / 5;
		}

		& .galena-grid__body {
			grid-column: 1 / 2;
			grid-row: 2 / 4;
		}
	}

	& .galena-grid__title {
		font-family: "Playfair Display";
		font-size: calc(36rem / 16);
		font-weight: 700;
		text-decoration: none;
	}

}

// .blog h2.entry-title, .category h2.entry-title, .search h2.entry-title {
// 	font-family: "Playfair Display";
// 	font-size: calc(36rem / 16);
// 	font-weight: 700;
//   }

//   a.entry-title-link {
// 	text-decoration: none;
//   }

//   @media (min-width: 48em) {
// 	.blog h2.entry-title, .category h2.entry-title, .search h2.entry-title {
// 	  font-size: calc(48rem / 16);
// 	}
//   }