.gutenberg {

	.editor-container__grid-half-left {
		font-family: $font;
		border: 1px solid $green;
		padding: 1rem;
		margin:0 -8rem;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		align-items: center;

		& > * {
			padding: .5rem;
		}

		& .editor__button-container,
		& .editor__content-image {
			grid-column: 1 / 2;
			grid-row: 1/ 3;
		}

		& .editor__title-text {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}

		& .editor__body-text {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	}

}