.galena-grid-half-left {

	display: grid;
	grid-template-columns: 1fr;


	& > * {
		margin: 1rem 0;
		padding: 0 1rem;
		align-self: center;
		justify-self: start;
	}

	.clinica-galena &::after {
		content: "";
		position: absolute;
		height: 60vh;
		width: 27vw;
		transform-origin: bottom right;
		background-color: $translucent-grey;
		right: 14vw;
		z-index: -1;
		transform: translateY(14%);
	}

	.galena-vip &::after {
		content: "";
		position: absolute;
		height: 100vh;
		width: 15vw;
		transform-origin: bottom right;
		background-color: $translucent-green;
		right: 25vw;
		z-index: -1;
		transform: translateY(100%);
	}

	@include medium {

		margin: calc(60rem / 16) 0 calc(120rem / 16);

		& > * {
			justify-self: center;
		}

		grid-template-columns: repeat(2, 50%);
		grid-template-rows: 1fr;

		& .galena-grid-half-left__image-container {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}

		& .galena-grid-half-left__body-container {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}

		& .galena-grid-half-left__wrapper {
			position: relative;
			left: calc(-100% / 12);
		}

		& .galena-grid-half-left__body-container p {
			// margin: 0;
		}
	}

	@include rwd(65) {

		grid-template-columns: calc(100% / 2.2) 1fr calc(100% / 2.8) 11vw;

		& .galena-grid-half-left__image-container {
			grid-column: 1 / 2;
		}

		& .galena-grid-half-left__body-container {
			grid-column: 3 / 4;

			& p {
				font-size: calc(28rem / 16);
			}
		}

	}

	// @include huge {

	// 	grid-template-columns: 50% calc(100% / 24) calc(100% / 3) calc(100% / 8);

	// }

}