.galena-grid-half-right {

	display: grid;
	grid-template-columns: 1fr;
	margin: calc(30rem / 16) 0 calc(30rem / 16);

	& > * {
		margin: 1rem 0;
		padding: 0 1rem;
		align-self: center;
		justify-self: start;
	}

	// & .galena-grid-half-right__title {
	// 	position: relative;
	// 	display: inline-block;
	// 	margin-bottom: 30px;
	// 	margin-left: 30px;

	// 	&::after {
	// 		position: absolute;
	// 		width: 100%;
	// 		height: 5px;
	// 		margin-right: -30px;
	// 		content: "";
	// 		background-color: rgba(123, 209, 187, 1);
	// 		bottom: 0;
	// 		margin-bottom: -5px;
	// 		right: 0;
	// 	}
	// }

	.clinica-galena &::after {
		content: "";
		position: absolute;
		height: 28vh;
		width: 45vw;
		background-color: $translucent-green;
		left: 3vw;
		z-index: -1;
		transform: translateY(98%);
	}

	.galena-vip &::after {
		content: "";
		position: absolute;
		height: 70vh;
		width: 40vw;
		background-color: $translucent-grey;
		left: 3vw;
		z-index: -1;
		transform: translateY(125%);
	}

	// & .galena-grid-half-right__body-container {


	// }

	@include medium {

		margin: calc(60rem / 16) 0 calc(120rem / 16);

		& > * {
			justify-self: center;
		}

		grid-template-columns: repeat(2, 50%);
		grid-template-rows: 1fr;

		& .galena-grid-half-right__image-container {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}

		& .galena-grid-half-right__body-container {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}

		& .galena-grid-half-right__wrapper {
			position: relative;
			right: calc(-100% / 12);
		}

		& .galena-grid-half-right__body-container p {
			// margin: 0;
		}
	}

	@include rwd(65) {

		grid-template-columns: 180px calc(100% / 2.8) 1fr calc(100% / 2.2);

		& .galena-grid-half-right__image-container {
			grid-column: 4 / 5;
		}

		& .galena-grid-half-right__body-container {
			grid-column: 2 / 3;

			& p {
				font-size: calc(28rem / 16);
			}
		}

	}

	// @include huge {

	// 	grid-template-columns: calc(100% / 24) calc(100% / 3) calc(100% / 8) 50%;

	// }

}