/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .gutenberg {

	.container {
		font-family: $font;
		border: 1px solid $green;
		padding: 1rem;
	}

}