.galena-imagen-big {
	margin-left: -1rem;
	max-width: 800px;
	margin-bottom: calc(120rem / 16);

	& + h2 {
		margin-top: 0;
	}

	&::after {
		content: "";
		height: 20vh;
		width: 100%;
		right: 0;
		transform-origin: bottom right;
		transform: translate(0%, -50%) scaleX(0.5);
		background-color: rgba(123, 209, 187, .26);
		position: absolute;
		z-index: -1;
	}

	.galena-imagen-grande__img {
		overflow: hidden;
		// padding-top: calc(1% / 1.5 * 100);
		// height: 0;


	}

	@include medium {
		margin-left: initial;
	}

	@include large {
		margin-left: calc(-150rem / 16);
	}

	@include huge {
		margin-left: calc(-270rem / 16);
	}

	p + & {
		padding-top: calc(30rem / 16);
	}
}
